configuration {
	modi: "";
	display-drun : "\\(OvO)>";
	width: 300;
	lines: 17;
	columns: 1;
	font: "azukifontBI 11";
	bw: 1;
	show-icons: true;
	terminal: "urxvt";
	/*	ssh-client: "ssh";*/
	drun-match-fields: "name,generic,exec,categories";
	levenshtein-sort: true;
	sidebar-mode: false;
	combi-modi: "drun";
	matching: "fuzzy";
	/*	max-history-size: 25;*/
	combi-hide-mode-prefix: true;
}
